<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.openmole.ui.console.simexplorer"
         name="simexplorer"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.openmole.ui.console.Application">
         </run>
      </application>
   </extension>
   <extension
         id="simexplorer"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.openmole.ui.console.simexplorer"
            name="console">
         <property
               name="appName"
               value="console">
         </property>
      </product>
   </extension>

</plugin>
