*.log
target/
target/*
*.orig
build
build/*
dist
dist/*
private
private/*
release/
release/*
*.iml
*.ipr
*.iws
*.iml
.idea/
.idea/*
.bsp/
.bsp/*
.bloop/
.bloop/*
.metals/
metals.sbt
*~
.project
.settings
*.bak
.directory
.DS_Store
*.history
**/openmole/bin/org.openmole.marketindex/src/main/resources/openmole-market
.vscode/
package-lock.json
node_modules
.scalafmt.conf
