[submodule "openmole/bin/org.openmole.marketindex/src/main/resources/openmole-market"]
	path = openmole/bin/org.openmole.marketindex/src/main/resources/openmole-market
	url = https://github.com/openmole/openmole-market.git
	branch = 7-dev
