stages:
  - assemble

image: openmole/build

assemble:
  stage: assemble
  script:
    #- bash -x build.sh
    #- '(cd openmole && sbt test)' # Metaspace error to be solved
    - git lfs fetch
    - '(cd build-system && sbt publishLocal)'
    - '(cd libraries && sbt publishLocal)'
    - '(cd openmole && ./generateSite $PWD/site)'
    - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$SSH_PRIVATE_KEY" >~/.ssh/identity
    - chmod 400 ~/.ssh/identity
    - ssh-keyscan -p 21022 docker.openmole.org > ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - echo "put -r ./openmole/site/* next" >./tonext     
    - sftp -i ~/.ssh/identity -b ./tonext -P 21022 user@docker.openmole.org
  only:
    refs:
      - 9-dev
   



