
#documentation-bottom-link-unavailable {
  padding-left: 5;
  padding-right: 5;
  text-decoration: line-through;
}

#documentation-bottom-link {
  padding-left: 5;
  padding-right: 5;
}

#documentation-bottom-links {
  text-decoration: underline;
  left: 200;
}

#documentation-menu {
  padding-left: 10;
  padding-right: 0;
  position: fixed;
  left: 0;
  top: 20%;
  width: 15em;
  margin-top: -2.5em;
}

#documentation-menu ul {
  margin-bottom: 0;
  margin-top: 0;
}

#documentation-content {
  margin-left: 50;
  padding-right: 0;
}

#documentation-menu-entry {
   color: darkblue;
   text-decoration: none;
   text-decoration:none;
   cursor:pointer;
}

#documentation-menu-entry-current {
    color: brown;
}

.scalatex-content *{
  position: relative;
}
.scalatex-content p{
  text-align: justify;
}
/*
The content `<div>` is where all your content goes.
*/
.scalatex-content {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 800px;
  padding-bottom: 50px;
  line-height: 1.6em;
  color: #777;
}
/* Custom Stuff */
.scalatex-content a:link {
  color: #37a;
  text-decoration: none;
}
.scalatex-content a:visited {
  color: #949;
  text-decoration: none;
}
.scalatex-content a:hover {
  text-decoration: underline;
}
.scalatex-content a:active {
  color: #000;
  text-decoration: underline;
}
.scalatex-content code{
  color: #000;
}
.scalatex-hover-container:hover .scalatex-header-link:hover > i{
  opacity: 1.0;
}
.scalatex-hover-container:hover .scalatex-header-link > i:active{
  opacity: 0.75;
}
.scalatex-hover-container:hover .scalatex-header-link > i{
  opacity: 0.5;
}
.scalatex-header-link > i{
  color: #777;
  opacity: 0.05;
  text-decoration: none;
}
/*Workaround for bug in highlight.js IDEA theme*/
span.hljs-tag, span.hljs-symbol{
  background: none;
}