@font-face {
	font-family: 'icomoon';
	src:url('fonts/plug.eot?-agwnc4');
	src:url('fonts/plug.eot?#iefix-agwnc4') format('embedded-opentype'),
		url('fonts/plug.ttf?-agwnc4') format('truetype'),
		url('fonts/plug.woff?-agwnc4') format('woff'),
		url('fonts/plug.svg?-agwnc4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-plug:before {
	content: "\e600";
}
