/* GENERAL*/
@font-face {
    font-family: 'gi';
    src: url('../fonts/gi.otf');
    font-weight: normal;
    font-style: normal;
}

body{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
    font-family:gi;
    line-height:1;
}

.table.envError>tbody>tr>td{
    border-top:none;
    vertical-align: middle;
    text-align: center;
}

.executionTable > tbody >tr{
    text-align:center
}

.table-inverse {
  color: #fff;
  background-color: #292b2c;
  border-radius: 3px;
}

.table-inverse > tbody > tr > td{
  padding:20px;
  text-align: center;
}

textarea {
  resize: none;
}

a {
    color: #3086b5;
}

a:focus, a:active, .btn:active, .btn:focus, button::-moz-focus-inner, btn::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, select::-moz-focus-inner {
    border: medium none;
    outline: medium none;
}

div table tr {
    text-align: left;
}

label {
    display: block;
    text-align: left;
}

.opaque{
opacity: 1;
}

.transparent{
opacity: 0;
}

ul{
    list-style-type: none;
}


/* TREENODE PANEL */
.treePathItems{
    position: relative;
    top: 4px;
    font-size: 15px;
    color: #828082;
    cursor: pointer;
    padding-top: 5px;
    font-weight: bold;
    height: 5px;
    margin-right: 5px;
}

.treePathItems:hover{
    color: #222;
}

.tree {
    margin-left: 3px;
    margin-right: 15px;
    position: relative;
    display: inline-block;
    width: 100%;
}

.tree.droppable {
    border: 3px dashed white;
    border-radius: 30px;
}

.tree-path {
    min-height: 27px;
    background-color: #f8f8f8;
    word-wrap: break-word;
}

.tree-path .btn-group .btn.btn-primary{
    background-color: #3086b5;
    border: #3086b5 solid 1px;
}

.tree-path .btn-group {
}*/

.file-list tbody{
  overflow-y: scroll;
  height: 100%;            //  <-- Select the height of the body
  width: 100%;
  position: absolute;
}

.file-list {
    font-size: 14px;
    list-style-type: none;
    width: 370px;
    margin-top: 160px;
}

.filelist li {
    height: 30px;
    width: 100%;
}


/* MARKET PANEL*/
.mdRendering p {
    text-align: left;
}

.whiteBold:hover{
    color: white;
    font-weight: bold;
}


/* AUTHENTICATION PANEL*/


/* EXECUTION PANEL*/

.removeExecution:hover {
    color: #CC3A36;
    display: inline-block;
    transform: scale(1.2);
    cursor: pointer;
}

.cancelExecution:hover {
    color: orange;
    display: inline-block;
    transform: scale(1.2);
    cursor: pointer;
}

.table tbody > tr > td.vert-align {
    padding-top: 20px;
    vertical-align: middle;
    text-align: center;
}
.table th, tr {
    text-align: center;
    vertical-align: middle;
}

.table th span input {
    max-width: 150px;
    min-width: 20px;
}

.table tbody > tr > td.vert-align {
    padding-top: 10px;
}



/* ALERT LOADING*/
.loading {
    font-weight: bold;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: blinker;
    animation-timing-function: linear;
}

@keyframes blinker {
0% {
    opacity: 1;
}

50% {
    opacity: 0.4;
}

100% {
    opacity: 1;
}
}

@keyframes blinker {
0% {
    opacity: 1;
}
50% {
    opacity: 0.4;
}
100% {
    opacity: 1;
}
}


/* INPUT FILES */
.btn-file span {
    font-size: 18px;
    left: -6px;
}

.btn-file input[type="file"] {
    height: 200px;
    opacity: 0;
    position: absolute;
    right: 45px;
    top: 0;
    width: 30px;
}


/*SELECT */
li.selectElement{
    font-size: 14px;
    color: grey;
    margin-left: 15px;
}

/* GLYPHS */

.glyphtrash:hover {
    color: #CC3A36;
}


.glyphmenu {
    top: 5px;
    margin-bottom: 20px;
    margin-right: 5px;
    display: inline-block;
    float: right;
    opacity: 0.9;
    padding-right: 5px;
    transition: transform 0.1s ease-out 0s;
    font-size: 16px;
}

.glyphmenu:hover {
    opacity: 1;
    transform: scale(1.6);
    color: #3086b5;
}

.glyphitem {
    top: 0;
    display: inline-block;
    float: right;
    opacity: 0.6;
    padding-right: 5px;
    cursor: pointer;
    transition: transform 0.1s ease-out 0s;
    font-size: 15px;
    text-align: center;
}

.glyphitem:hover {
    display: inline-block;
    opacity: 1;
    transform: scale(1.2);
}

/* MODAL WIZARD PANEL*/
.modelWizardDivs{
    display: inline-block;
}

.modelWizardDivs div{
    margin-top: -1px;
    padding-left: 5px;
    display: inline-block;
}

/* File management*/
.inputFileStyle {
    position: relative;
    background-color: #3086b5;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 8px 25px 8px 20px;
    text-align: center;
}
.inputFileStyle input[type="file"] {
    display: none;
}
.inputFileStyleSmall {
    background-color: #3086b5;
    color: white;
    cursor: pointer;
    margin-left: -16px;
    margin-top: -6px;
    padding: 7px 16px;
}
.inputFileStyle:hover,.inputFileStyleSmall:hover {
    color: black;
}
.inputFileStyleSmall input[type="file"] {
    display: none;
}

/* WAITER */
.spinner-wave {
    height: 30px;
    margin: 0 auto;
    text-align: center;
    width: 50px;
    display: inline-block;
    vertical-align: middle;
}

.spinner-wave > div {
    animation: 1.2s ease-in-out 0s normal none infinite running wave;
    display: inline-block;
    height: 100%;
    margin-left: 5px;
    width: 6px;
    background-color: #fff;
}

.spinner-wave div:nth-child(2) {
    animation-delay: -1.1s;
}

.spinner-wave div:nth-child(3) {
    animation-delay: -1s;
}

.spinner-wave div:nth-child(4) {
    animation-delay: -0.9s;
}

.spinner-wave div:nth-child(5) {
    animation-delay: -0.8s;
}

@keyframes wave {
0%, 40%, 100% {
    transform: scaleY(0.4);
}

20% {
    transform: scaleY(1);
}

}

.spinner-wave-ratio{
	color: white;
}

/* FILE TOOL BAR*/
.fileUpload {
    position: relative;
    overflow: hidden;
    width: 24px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.sortingTool{
    color: white;
    background-color: #222;
    opacity: 0.5;
    width : 35px;
    position: fixed;
    margin-top: 142px;
}

.sortingTool.btn:hover{
    color: white;
    background-color: #222;
    opacity: 1;
}

.selectedSortingTool.btn, .selectedSortingTool.btn:hover{
    color: white;
    background-color: #222;
    opacity: 1;
    font-weight: bold;
    width : 50px;
    margin-top: 142px;
    }

.fullpanel {
    height: 100%;
    width: 100%;
}

.centerpanel {
    padding-left: 15px;
    padding-bottom:25px;
    padding-right:40px;
    position: relative;
    top: 60px;
    width: 100%;
    height: 75%;
}

.centerpanel.banneropen{
padding-bottom: 90px;
}

/*
.fullpanel .reduce{
    left: 390px;
    width: calc(100% - 390px);
}

.centerpanel .reduce {
    left: 390px;
    padding-right: 400px;
    position: relative;
    top: 61px;
    transition: all 0.1s ease-out 0s;
    width: 99%;
}

.fullpanel .open {
    left: 0;
}*/
/*
.leftpanel {
    background: #222 none repeat scroll 0 0;
    height: 100%;
    left: -370px;
    opacity: 1;
    padding-left: 7px;
    position: fixed;
    padding-top: 20px;
    transition: all 0.1s ease-out 0s;
    width: 370px;
    z-index:6;
}*/

.hidden-div {
  position: relative;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 1s ease;
}

.expanded {
  max-height: 100vh;
}

.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.gutterDecoration{
  position:absolute;
  z-index: 20;
  /*font: 15px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;*/
  top:0;
  width: 20px;
  margin-left:17px;
  text-align:right;
  padding-right:3px;
}

.gutterError {
      cursor: pointer;
      color: white;
      font-weight: bold;
      position: absolute;
      font-family: monospace;
      justify-content: center;
      display: flex;
}

.gutterCorrected {
    background: rgba(220,220,220);
      cursor: pointer;
      border-radius: 3px;
      color: #333;
      font-weight: bold;
      width: 45px;
      margin-left: -20px;
      text-align: left;
      padding-left:5px;
}

.closeRunOptions{
  opacity: 1;
  color:white; !important
}

.popover{
    max-width: 50%;
}

/* TREE NOOD PANEL*/
.dir {
  background-color : blue;
  color : white;
  height : 20px;
  width : 20px;
  border-radius : 4px;
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
}

.plus {
  text-align: center;
  margin: 3px;
  width:20px;
}

.file0{
  flex: 0 0 20px;
  margin-right: 5px;
  cursor: pointer;
}

.file1{
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor:pointer;
}

.file2{
  flex: 0 0 50px;
  font-size: 9px;
  justify-content: flex-end;
  display: flex;
  margin-right: 10px;
}

.file3{
 flex: 0 0 20px;
}

.app-container {
  background: pink;
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  /* for Firefox */
  min-height: 0;
  width:100%;
  height:100%;
}


.main-container {
  background: #3F51B5;

  /* give the outermost container a predefined size */
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;


  width: 100%;
  height: 100%;
}

.file-section {
 margin: 10px;
 background: #2196F3;
 flex-grow: 1;

 display: flex;
 flex-direction: column;

 /* for Firefox */
 min-height: 0;
 width: 400px;
}

.tab-section{
  margin: 10px;
  background: #2196F3;
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  /* for Firefox */
  min-height: 0;
  width:100%;
}

.file-content {
  margin: 10px;
  background: #BBDEFB;
}

.file-scrollable-content {
  background: white;
  flex-grow: 1;

  overflow: auto;

  /* for Firefox */
  min-height: 0;
}


/* EDITOR */
.ace_gutter-layer {
    background-color: white;
}

#editor .ace_marker-layer .ace_active-line {
    background: #f2f2f2 none repeat scroll 0 0;
}

#editor .ace_marker-layer .ace_selection {
    background: #c8c8fa none repeat scroll 0 0;
}

.editor-content {
    flex: 1;
    overflow: hidden;
    min-height: 0;
}

#editor {
   font-family: monospace;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   height:100%;
}

