@font-face {
    font-family: 'Bevan';
    src: url('../fonts/Bevan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
a {
    font-weight: bold;
    color: #3086b5;
}

.colorGrey{
    color: #333;
}

#mainNav {
    background-color: #333333;
    font-weight: bold;
    padding-left: 320px;
}
.right2 {
    padding-right: 2px;
}
.right5 {
    padding-right: 5px;
}
a:focus, a:active, .btn:active, .btn:focus, button::-moz-focus-inner, btn::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, select::-moz-focus-inner {
    border: medium none;
    outline: medium none;
}
.black-label {
    color: black;
}
#marketPanelID .modal-dialog, #executionsPanelID .modal-dialog {
    width: 90%;
    max-width: 1100px;
}

#settingsPanelID .modal-dialog {
    width: 70%;
}
 #envStackID .modal-dialog, #documentationID .modal-dialog {
    width: 60%;
}
.table tbody > tr > td.vert-align {
    padding-top: 20px;
    vertical-align: middle;
    text-align: center;
}
.table th, tr {
    text-align: center;
    vertical-align: middle;
}
.table th span input {
    max-width: 150px;
    min-width: 20px;
}
#conceptPanelID .modal-footer {
    border-top: 0 none;
    padding: 15px;
    text-align: right;
}
.spacer20 {
    margin-top: 20px;
}
.spacer50 {
    margin-top: 50px;
}
.spacer5 {
    margin-top: 5px;
}
.spacer7 {
    margin-top: 7px;
}
.spacer9 {
    margin-top: 9px;
}
.spacer4 {
    margin-top: 4px;
}
#editor {
    font-family: monospace;
    height: 95%;
}
.ace_gutter-layer {
    background-color: white;
}
#editor .ace_marker-layer .ace_active-line {
    background: #f2f2f2 none repeat scroll 0 0;
}
#editor .ace_marker-layer .ace_selection {
    background: #c8c8fa none repeat scroll 0 0;
}
.tree-path {
    margin-left: 3px;
    position: relative;
    top: 17px;
}
.tree-path .btn-group .btn.btn-primary{
    background-color: #3086b5;
    border: #3086b5 solid 1px;
}
.tree-path .btn-group {
    margin-top: 10px;
}
.tree-header {
    margin-left: -4px;
    margin-top: -23px;
}
.tree {
    margin-left: 3px;
    margin-right: 15px;
    margin-top: 20px;
    width: 94%;
}
.tree.droppable {
    border: 3px dashed white;
    border-radius: 30px;
}
.file {
    color: white;
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 3px;
    text-decoration: none;
}
.file-info {
    float: right;
    position: absolute;
    right: 2px;
    margin-top: 1px;
}
.dir {
    background-color: #3086b5;
    color: white;
    border-radius: 5px;
    display: inline-block;
    height: 22px;
    margin-bottom: 5px;
    padding: 3px 4px;
    width: 22px;
}
.dirText{
    padding-left: 27px;
}
.fileText{
    padding-left: 0px;
}
.file-list {
    font-size: 14px;
    list-style-type: none;
    width: 100%;
}
.glyphitem {
    top: 0;
    color: white;
    display: inline-block;
    float: right;
    opacity: 0.2;
    padding-right: 5px;
    transition: transform 0.1s ease-out 0s;
}
.glyphitem:hover {
    display: inline-block;
    opacity: 1;
    transform: scale(1.2);
}
.grey {
    color: grey;
    opacity: 0.8;
}
.filelist li {
    height: 30px;
    width: 100%;
}
#glyphtrash:hover {
    color: #CC3A36;
}
#adddir {
    padding-left: 7px;
    padding-top: 23px;
}
#adddir .glyphicon {
    padding-right: 5px;
}
#adddir .btn {
    width: 100px;
}
#plusdir {
    padding-right: 3px;
}
.btn-file span {
    font-size: 18px;
    left: -6px;
}
.btn-file input[type="file"] {
    height: 200px;
    opacity: 0;
    position: absolute;
    right: 45px;
    top: 0;
    width: 30px;
}
#success-like {
    float: left;
    height: 20px;
}
#fileinput-addon {
    background-color: #3086b5;
    border: medium none #3086b5;
    color: white;
    float: left;
    height: 34px;
    width: 30px;
}
#fileinput-addon:hover {
    color: #222;
}
#treeidle {
    margin-top: 25px;
}
#treeprogress {
    margin-top: 20px;
    width: 100%;
}
#treeline {
    opacity: 0;
}
#treeline-hover {
    opacity: 1;
}
.tab-content {
    margin-top: -2px;
    position: relative;
    width: 100%;
}
#editorContainer {
    padding: 0;
    width: 100%;
}
.nav-tabs {
    width: 99%;
}
.nav-tabs > li .close {
    font-size: 14px;
    margin: 3px 0 0 15px;
}
.file-size {
    color: lightgray;
    float: right;
    font-size: 12px;
    padding-left: 3px;
    padding-right: 7px;
    padding-top: 3px;
}
.file-glyph {
    margin-top: 2px;
}
.edit-node {
    height: 26px;
}
.fullpanel {
    height: 100%;
    width: 100%;
}
.centerpanel {
    height: 89%;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    top: 30px;
    width: 100%;
}
.fullpanel .reduce {
    left: 330px;
    padding-right: 340px;
    position: fixed;
    top: 60px;
    transition: all 0.1s ease-out 0s;
    width: 99%;
    height: calc(100% - 140px);
  
}
.fullpanel .open {
    left: 0;
}
.leftpanel {
    background: #333333 none repeat scroll 0 0;
    height: 100%;
    left: -320px;
    opacity: 1;
    overflow-y: auto;
    padding-left: 7px;
    position: absolute;
    top: 37px;
    transition: all 0.1s ease-out 0s;
    width: 320px;
}
.playTabOverlay {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    color: white;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 20;
}
.editTabOverlay {
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    color: white;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 800;
}
.overlayElement {
    color: white;
    font-size: 25px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 25;
}
.executionElement {
    position: fixed;
    right: 80px;
    top: 150px;
    width: 50px;
    z-index: 18;
}
.editingElement {
    font-size: 18px;
    padding-left: 5px;
    position: fixed;
    right: 80px;
    top: 150px;
    width: 30px;
    z-index: 800;
}
.executionSettings {
    padding-left: 10px;
}
.displayOff {
    display: none;
}
.executionSettingsOn {
    margin: 10px 0 20px;
}
.executionTable table td {
    background-color: #333333;
    color: #ddd;
}
.executionTable table td.runningState {
    color: yellow;
    font-weight: bold;
}
.executionTable table td.finishedState {
    color: #a6bf26;
    font-weight: bold;
}
.executionTable table td.cancelledState {
    color: orange;
    font-weight: bold;
}
.executionTable table td.failedState {
    color: #CC3A36;
    font-weight: bold;
}

.monospace {
    font-family: monospace;
}

.removeExecution:hover {
    color: #CC3A36;
    display: inline-block;
    transform: scale(1.2);
}
.cancelExecution:hover {
    color: orange;
    display: inline-block;
    transform: scale(1.2);
}
.executionTable {
    border: medium none;
    width: 100%;
}
.executionTable table td.executionVisible {
    color: #3086b5;
    font-weight: bold;
}
.connectionTabOverlay {
    background: white none repeat scroll 0 0;
    color: white;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 998;
}

.centerPage {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.rightPage{
    right: 0;
    margin: 10 20;
}

.message {
    color: #999;
    font-style: italic;
    margin-left: 25px;
    margin-top: 38px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.authSave {
    margin-right: 15px;
    margin-top: -7px;
}
.inrowFirstElement {
    display: inline-block;
}
.inrow {
    display: inline-block;
    margin-left: 15px;
}
.inputFileStyle {
    position: absolute;
    background-color: #3086b5;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 8px 25px 8px 20px;
}
.inputFileStyle input[type="file"] {
    display: none;
}
.inputFileStyleSmall {
    background-color: #3086b5;
    color: white;
    cursor: pointer;
    margin-left: -16px;
    margin-top: -6px;
    padding: 7px 16px;
}
.inputFileStyle:hover,.inputFileStyleSmall:hover {
    color: black;
}
.inputFileStyleSmall input[type="file"] {
    display: none;
}
.openMOLETitle {
    color: white;
    font-size: 18px;
    margin-right: 50px;
    position: absolute;
    right: 0;
    top: 5px;
}
.shutdownButton {
    font-size: 20px;
    margin-right: 10px;
    position: absolute;
    right: 0;
    top: 7px;
}
.nav-pills > li > a {
    font-size: 20px;
    margin-top: -3px;
    color: #a6bf26;
}
.mdRendering p {
    text-align: left;
}
.mdgrey {
    background-color: #222;
    color: white;
}
.marketTag {
    margin-left: 3px;
    font-size: 14px;
    position: relative;
    top: 4px;
}

.loading {
    font-weight: bold;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: blinker;
    animation-timing-function: linear;
}
@keyframes blinker {
0% {
    opacity: 1;
}
50% {
    opacity: 0.4;
}
100% {
    opacity: 1;
}
}
@keyframes blinker {
0% {
    opacity: 1;
}
50% {
    opacity: 0.4;
}
100% {
    opacity: 1;
}
}
.alertSettings {
    min-width: 600px;
    position: relative;
}
textarea.form-control {
    height: 98%;
}
.environmentPanelError {
    background-color: white;
    margin: 10px 10px 0;
    padding: 10px;
}
div table tr {
    text-align: left;
}
.scrollable {
    height: 100%;
}
.displayNone {
    display: none;
}
.width40 {
    float: right;
    width: 250px;
    margin-right: -40px;
    margin-top: -5px;
}

.execLevel{
margin-right:-25px;
margin-top: -3px;
}
.execOutput{
margin-right:-10px;
margin-top: -5px;
}
.blue {
    color: #3086b5;
}
.table tbody > tr > td.vert-align {
    padding-top: 10px;
}
label {
    display: block;
    text-align: left;
    width: 150px;
}
.executionHeader {
    height: 55px;
}

.alertOverlay{
    background: #333 none repeat scroll 0 0;
    opacity: 0.95;
    color: white;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1200;
    text-align: right;
}

.fullPageZone{
    height: 100%;
    width: 100%;
}

.fileZone{
    top: 10px;
    height: 100%;
    width: 320px;
}

.topZone{
    top: 0;
    height: 100px;
    width: 100%;
}

.pluginRight{
    right: 20px;
    margin-top: -8px;
}

.certificate{
    width: 360px;
    text-align: center;
}

.marginTop-20{
    margin-top: -20px;
}

.fileNameOverflow{
    color: white;
    white-space: nowrap;
    overflow: hidden;
    width: 13em;
    padding-top: 2px;
    position: absolute;
    text-overflow: ellipsis;
}

.bold{
    font-weight: bold;
}

.paddingBottom7{
    padding-bottom: 7px;
}

.paddingTop40{
    padding-top: 40px;
}

span.label.control-label{
    color: black;
    font-size: 0.9em;
}

.openmole-logo{
    position: fixed;
    width: 300px;
    top: -10px;
    z-index: -1;
    right: calc(50% - 25px) ;
}

.openmole-connection{
    font-family: Bevan;
    position: fixed;
    font-size: 5em;
    width: 200px;
    top: 120px;
    z-index: 10;
}

.openmole-pen{
    color: #808080;
    z-index: -1;
    right: calc(50% - 70px);
}

.openmole-mole{
    right: calc(50% - 210px);
    z-index: -1;
    color: #a6bf26;
}

.btn.btn-primary{
    background-color: #3086b5;
    border: #3086b5 solid 1px;
    font-weight: bold;
}

.btn.btn-success{
    background-color: #3086b5;
    border: #3086b5 solid 1px;
    color: white;
    font-weight: bold;
}

.label.label-primary{
    background-color: #3086b5;
    border: #3086b5 solid 1px;
    color: white;
    font-weight: bold;
}

.btn.btn-default{
    background-color: white;
    color: #808080;
    font-weight: bold;
}

.docText{
    color: #444;
}

.glyphText{
    color: #a6bf26;
    font-size: 22px;
    padding-right: 5px;
}

.docTitleEntry{
    font-weight: bold;
    cursor: pointer;
    padding-top: 6px;
}

.docEntry{
    color: white;
    background-color: #333;
    border-radius: 3px;
    margin-top: 3px;
    padding-top: 6px;
    vertical-align: middle;
    padding-bottom:4px;
    padding-left: 5px;
    min-height: 46px;
}

.docContent{
    opacity: 0.95;
    padding: 5 50;
}

.centerImg{
    text-align: center;
}

.bottom-5{
    margin-bottom: -5;
}

.greenBold{
    color: #a6bf26;
    font-weight: bold;
}

.whiteBold{
    color: white;
    font-weight: bold;
}

.whiteBold:hover{
    color: white;
    font-weight: bold;
}
.redBackground.btn{
    background-color: #CC3A36;
    border: 1px solid #CC3A36;
}

.labelInline{
position: relative;
display: inline;
top: -6px;
}

.logoVersion{
    width: 200px;
    position: fixed;
    bottom: 0;
    right: 50;
    z-index: -2;
}

.textVersion{
    font-family: Bevan;
    color: #ff5555;
    position: fixed;
    right: -40;
    bottom: 0;
    font-size: 2em;
    width: 300px;
    z-index: -1;
    bottom: 7px;
    height:30px;
}