a {
	color:#3086b5;
}

#mainNav {
	font-weight: bold;
padding-left: 320px;
background-color: #333333;
}

.right2{
      padding-right : 2px;
      }

.right5{
      padding-right : 5px;
      }

/* Clean mozilla dashed outline*/
a:focus, a:active, .btn:active, .btn:focus,
button::-moz-focus-inner,
btn::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner {
    border: none;
    outline : none;
}

.myButton {
	-moz-box-shadow: 0px 10px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
	background-color:#77b55a;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
}
.myButton:active {
	position:relative;
	top:1px;
}

.black-label {
	color: black;
}

#settingsPanelID,#executionsPanelID .modal-dialog {
    width: 70%;
}

#marketPanelID .modal-dialog {
    width: 60%;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

.table th,tr{
	text-align: center;
    vertical-align: middle;
}

.table th span input {
    min-width: 20px;
    max-width: 150px;
}

#conceptPanelID .modal-footer {
	padding: 15px;
	text-align: right;
	border-top: 0px;
}

.spacer20 {
	margin-top: 20px;
}

 .spacer50{
	margin-top: 50px;
 }

#editor {
	height: 95%;
	font-family: monospace;
}

.ace_gutter-layer{
	background-color: white;
}


#editor .ace_marker-layer .ace_active-line {
    background: #f2f2f2 none repeat scroll 0 0;
}

#editor .ace_marker-layer .ace_selection {
    background: #c8c8fa none repeat scroll 0 0;
}

.tree {
	padding-top: 20px;
}

.tree.droppable {
	border: 3px dashed white;
	border-radius: 30px;
}

.file {
    display:inline-block;
    text-decoration:none;
    float: left;
    color: white;
}

.dir {
    background-color: #337ab7;
    color: white;
    border-radius:5px;
    display:inline-block;
    padding:2px 8px;
    text-decoration:none
    float: left;
}


.filelist{
	list-style-type: none;
	padding-left: 3px;
	padding-top: 45px;
}

.glyphitem {
    float: right;
    padding-right: 5px;
    color: white;
    opacity: 0.2;
    display: inline-block;
   -webkit-transition: -moz-transform .1s ease-out;
   -moz-transition: -webkit-transform .1s ease-out;
   -o-transition: -o-transform .1s ease-out;
    transition: transform .1s ease-out;
}

.glyphitem:hover{
	opacity: 1;
    display: inline-block;
   -moz-transform: scale(1.2);
   -webkit-transform: scale(1.2);
   -o-transform: scale(1.2);
   transform: scale(1.2);
}


.grey{
	color: grey;
	opacity: 0.8;
}

.filelist li {
	width: 100%;
	height: 30px;
}

#glyphtrash:hover{
    color: red;
}

#adddir{
    padding-left:7px;
    padding-top: 40px;
}

#adddir .glyphicon {
	padding-right: 5px;
}

#adddir .btn {
    width: 100px;
}

#plusdir{
	padding-right:3px;
}

/* For upload buttons*/
.btn-file span{
	left: -6px;
    font-size: 18px;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    width: 30px;
    opacity: 0;
    right: 45px;
    height: 200px;
}


#success-like{
    float: left;
    height: 20px;
}

#fileinput-addon{
	float: left;
	width: 30px;
	background-color: #56b156;
	border: #56b156;
	height: 34px;
	color: white;

}

#fileinput-addon:hover{
	color: #222;
}

#treeprogress{
	margin-top:20px;
	width: 95%;
}

#treeline{
  opacity: 0;
}

#treeline-hover{
    opacity: 1;
}

.tab-content{
	position: relative;
	width: 100%;
	margin-top: -2px;
}

#editorContainer{
    padding:0;
    width: 100%;
}

.nav-tabs {
	width: 99%;
}

.nav-tabs > li .close {
   margin: 3px 0px 0 15px;
   font-size: 14px;
}

.filesize{
	color: lightgray;
	padding-right: 7px;
	padding-left: 3px;
	float: right;
	font-size: 12px;
}

/* -- Manage the file left panel transition*/
.fullpanel {
    width: 100%;
    height: 100%;
}

.centerpanel{
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	top: 30px;
	width: 100%;
	height: 89%;
}

.fullpanel .reduce{
	position: relative;
	width: 99%;
    left: 330px;
    padding-right: 340px;
	top: 30px;
    -webkit-transition: all 0.1s ease-out;
       -moz-transition: all 0.1s ease-out;
        -ms-transition: all 0.1s ease-out;
         -o-transition: all 0.1s ease-out;
            transition: all 0.1s ease-out;
}

.fullpanel .open{
    left: 0px;
}

.leftpanel {
overflow-y : auto;
	position: absolute;
   background: #333333;
    height: 100%;
    top: 20px;
    padding-left: 7px;
    left: -320px;
    width: 320px;
    opacity: 1;
    -webkit-transition: all 0.1s ease-out;
       -moz-transition: all 0.1s ease-out;
        -ms-transition: all 0.1s ease-out;
         -o-transition: all 0.1s ease-out;
            transition: all 0.1s ease-out;
}

.playTabOverlay {
	color: white;
	position: absolute;
	left: 0;
	background: rgba(0, 0, 0,0.6) none repeat scroll 0 0;
    z-index: 20;
    height: 100%;
    width: 100%;
}

.editTabOverlay{
	color: white;
	position: absolute;
	left: 0;
    z-index: 800;
    height: 100%;
    width: 100%;
	background: rgba(0, 0, 0,0.1) none repeat scroll 0 0;
}

.overlayElement{
    position: absolute;
    top: 200px;
    margin-left: 32%;
    width: 400px;
    color: white;
    font-size: 25;
    z-index: 25;
}

.executionElement{
    position: fixed;
    top :150;
    right: 80px;
    width: 50px;
    z-index: 18;
}

.editingElement{
    position: fixed;
    top :150;
    right: 80px;
    width: 30px;
    padding-left: 5px;
    z-index: 800;
    font-size: 18px;
}

.executionSettings{
	padding-left: 10px;
}

.displayOff {
    display: none;
}

.executionSettingsOn {
    margin: 10 0 20 0;
}



.executionTable table td {
    background-color:#333333;
    color: #9CA7BA;
}

.executionTable table td.runningState{
    color: yellow;
    font-weight: bold;
}

.executionTable table td.finishedState{
    color: #5aa02c;
    font-weight: bold;
}

.executionTable table td.canceledState{
    color: orange;
    font-weight: bold;
}

.executionTable table td.failedState{
    color: red;
    font-weight: bold;
}

.removeExecution:hover{
    color:red;
    display: inline-block;
   -moz-transform: scale(1.2);
   -webkit-transform: scale(1.2);
   -o-transform: scale(1.2);
   transform: scale(1.2);
}

.cancelExecution:hover{
    color:orange;
    display: inline-block;
   -moz-transform: scale(1.2);
   -webkit-transform: scale(1.2);
   -o-transform: scale(1.2);
   transform: scale(1.2);
}

.executionTable{
    border: none;
    width: 100%;
}

.executionTable table td.executionVisible{
	color:#3086b5;
	font-weight: bold;
}

.connectionTabOverlay {
	color: white;
	position: absolute;
	left: 0;
	background: white none repeat scroll 0 0;
    z-index: 998;
    height: 100%;
    width: 100%;
}

.centerPage{
	position: absolute;
    z-index: 999;
    top:50px;
    left: 50% ;
    margin-left: -100px;
    width: 25%;
    max-width: 350px;
}

.message{
	color: #999;
	margin-left: 25px;
	margin-top: 38px;
    font-style: italic;
}

.left{
    float: left;
}

.authSave{
 	margin-right: 15px;
 	margin-top: -7px;
 }

.inrowFirstElement {
    display:inline-block
 }

 .inrow{
       display:inline-block;
       margin-left:15px;
 }

 .inputFileStyle {
 	background-color: #5cb85c;
 	border-radius: 5px;
 	color: white;
 	margin-top: 8px;
    padding: 10px 40px;
    cursor: pointer;
 }

 .inputFileStyle input[type="file"] {
    display: none;
}

.openMOLETitle{
	color: white;
    position: absolute;
    top: 5px;
    right: 0;
    margin-right: 50px;
    font-size: 18px;
    font-style: size;
}

.shutdownButton{
    position: absolute;
    top: 5px;
    right: 0;
    margin-right: 10px;
    font-size: 20px;
}

.nav-pills>li>a{
	font-size: 20px;
	margin-top: -3px;
}

.mdRendering p{
    text-align: left;
}

.mdgrey{
    background-color: #222;
    color: white;
}

.marketTag{
    margin-left: 3px;
}
