#mainNav {
padding-left: 300px;
}

.right2{
      padding-right : 2px;
      }

.right5{
      padding-right : 5px;
      }

/* Clean mozilla dashed outline*/
a:focus, a:active, .btn:active, .btn:focus,
button::-moz-focus-inner,
btn::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner {
    border: none;
    outline : none;
}

.myButton {
	-moz-box-shadow: 0px 10px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
	background-color:#77b55a;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
}
.myButton:active {
	position:relative;
	top:1px;
}

.black-label {
	color: black;
}

#conceptPanelID .modal-dialog {
    width: 60%;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

.table th,tr{
	text-align: center;
    vertical-align: middle;
}

.table th span input {
    min-width: 20px;
    max-width: 150px;
}

.modal-info {
    background-image: linear-gradient(#d9edf7 0%, #b9def0 100%);
    background-repeat: repeat-x;
    border-color: #9acfea;
    border-radius: 6px 6px 0 0;
}

#conceptPanelID .modal-footer {
	padding: 15px;
	text-align: right;
	border-top: 0px;
}

.spacer20 {
	margin-top: 20px;
}

#editor {
	height: 95%;
}

.tree {
	padding-top: 20px;
	height: 100%;
}

.tree.droppable {
	border: 3px dashed white;
	border-radius: 30px;
}

.file {
    display:inline-block;
    text-decoration:none;
    float: left;
    color: white;
}

.dir {
    background-color: #337ab7;
    color: white;
    border-radius:5px;
    display:inline-block;
    padding:2px 8px;
    text-decoration:none
    float: left;
}


.filelist{
	list-style-type: none;
	padding-left: 3px;
	padding-top: 45px;
}


.filelist li .glyphitem {
    float: right;
    padding-right: 5px;
    color: white;
    opacity: 0.4;
    display: inline-block;
   -webkit-transition: -moz-transform .1s ease-out; 
   -moz-transition: -webkit-transform .1s ease-out; 
   -o-transition: -o-transform .1s ease-out; 
    transition: transform .1s ease-out; 

}

.filelist li .glyphitem:hover{
	opacity: 1;
    display: inline-block; 
   -moz-transform: scale(1.2);
   -webkit-transform: scale(1.2);
   -o-transform: scale(1.2);
   transform: scale(1.2);
}

.filelist li {
	width: 100%;
	height: 30px;
}

.filelist li #glyphtrash:hover{
color: red;
}

#adddir{
padding-left:7px;
padding-top: 40px;
}

#adddir .glyphicon {
	padding-right: 5px;
}

#adddir .btn {
width: 100px;
}

#plusdir{
	padding-right:3px;
}

/*dynamic menu*/
#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;

  height: 5000px; /* Temp: Simulates a tall page. */
}

#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;

  -webkit-transform: translateX(0);
  transform: translateX(0);

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  padding: 5% 0; /* Temp: Just spacing. */
}
.show-nav #site-canvas {
  -webkit-transform: translateX(320px);
  transform: translateX(320px);

  -webkit-transform: translate3d(320px, 0, 0);
  transform: translate3d(320px, 0, 0);
}


#site-menu {
  background: #222222;
  width: 320px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -320px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 0;
}



/* For upload buttons*/
.btn-file span{
	left: -6px;
    font-size: 18px;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    width: 30px;
    opacity: 0;
    right: 45px;
    height: 200px;
}


#success-like{
float: left;
height: 20px;
}

#fileinput-addon{
	float: left;
	width: 30px;
	background-color: #56b156;
	border: #56b156;
	height: 34px;
	color: white;

}

#treeprogress{
	margin-top:20px;
	width: 95%;
}

#treeline{
  opacity: 0;
}

#treeline-hover{
opacity: 1;
}

.nav-tabs > li .close {
    margin: 3px 0px 0 15px;
   font-size: 14px;
}

.filesize{
	color: grey;
	padding-right: 7px;
	padding-left: 3px;
	float: right;
	font-size: 12px;
}

#controlform{
	margin-top: -75px;
	margin-left: 15px;
	height: 140px;
	width: 20%;
}

#controlform input {
	margin-top: 5px;
}

#controlform button {
	height: 40px;
	width: 60px;
	margin-top: 5px;
	float: right;
}