/*Workaround for bug in highlight.js IDEA theme*/
span.hljs-tag, span.hljs-symbol{
  background: none;
}

@font-face {
  font-family: 'gi';
  src: url('../fonts/gi.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "glacial";
  src: url("../fonts/GlacialIndifference-Regular.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "glacial";
  src: url("../fonts/GlacialIndifference-Bold.otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "pt_serif";
  src: url("../fonts/PTF55F.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
    /* main colors */
    --purple: #3f3d56;
    --green: #a6bf26;
    /* secondary colors */
    --dark: #222222;
    --white: #fff;
    /* accent colors */
    --pink: #F86D70;
    --purple2;

    --grey: #e5e5e5;
}

body {
  margin: 0;
  font-size: 2rem;
  font-family: "glacial", sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.3;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  color: var(--dark);
  background-color: #f1f1f1;
}



h1, .h1 {
  font-size: 5.2rem;
  /*font-weight: bold;*/
  text-transform: uppercase;
}

h2 {
  font-size: 3.6rem;
  font-family: "pt_serif", serif;
  font-weight: normal;
  padding-top: 30px;
  padding-bottom: 10px;
}

h3 {
  font-size: 3rem;
  font-family: "glacial";
  font-weight: bold;
  color: var(--green);
  font-style: normal;
  padding-top: 10px;
}

h6 {
  font-size: 2.2rem;
  font-weight: bold;
  padding-top: 10px;
}

/* not used */
/*h5 {
  color: var(--green);
  font-size: 3rem;
  padding-top: 50px;
  margin: 0 0 24px;
}*/

/* used for netlogo wizard */
h4 {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--white);
}


code,
.hljs {
    background-color: transparent;
    color: var(--purple);
    font-size: 80%;
    font-weight: bold;
}


a,
a:visited {
  color: var(--dark);
  text-decoration: underline;
}
a:hover {
  color: var(--green);
  text-decoration: none;
}


ul {
    padding-top: 10px;
    padding-bottom: 10px;
}

li {
    padding-top: 5px;
}


asitemap{
  color : orange;
}

p{
  padding-top:30px;
}

html {
  height: 100%;
  box-sizing: border-box;
}


.question{
    font-weight: bold;
    padding-top: 20px;
    font-size: 17px;
}


.btn-mole{
 color: #333;
 border-color: #a6bf26;
 background-color: #a6bf26;
}

.line {
border-bottom: 1px solid #eee;
}

.scalatex-site-Styles-content{
  text-align: left;
}

 .center-svg{
   margin-left:auto;
   margin-right:auto;
   display:block;
   width:100%;
  }

/*Workaround for bug in highlight.js IDEA theme*/
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.4s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}



/*Responsive columns*/
#main-content{
    min-height: 800px;
}

.navbar-inverse,
.navbar-inverse .navbar-nav > li > a {
    background-color : var(--purple);
    color: #fff;
}

#footer {
background-color : var(--purple);
color: #fff;
width: 100%;
}

.sidebar-left {
    margin-left:15px;
    margin-bottom:20px;
}

#sidebar-right {
    margin-left:15px;
    margin-bottom:20px;
}

#omwesite{
    margin-left:-200px;
}



/*Base Mobile Layout*/
.wrap {
    width: 90%;
    margin: 0 auto;
}

img{
  max-width : 100%;
  height : auto;
}

.banner{
    padding-top:80px;
    margin-bottom:-80px;
}

#main-content, .sidebar-left, #sidebar-right, #footer {
    padding:0px;
    width: 100%;
    float: left;
}

#main-padding{
    padding: 5px 0px 50px 5px;
}

#padding-element{
    padding: 10px 20px 20px 10px;
}

 .inner-footer {
     margin: 0 auto;
     width: 100%;
     margin-top: 10px;
     margin-bottom: 30px;
    }


/*3 Column Layout*/
@media only screen and (min-width: 1024px) {
    .wrap {
        width: 1024px;
        margin: 0 auto;
    }

    #omwesite{
    margin-left: 200px;
    }

    .banner{
        position:relative;
        top:-80px;
        float:right;
    }

    .index-element {
        background-color: white;
        width: 100%;
        border-radius:10px;
        box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
        }

    .page-element {
        background-color: white;
        border-radius:5px;
        box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
        margin-bottom:30px;
        }

    #main-content {
        width: 60%;
        float: left;
    }

    #main-padding{
        padding:20px 80px 50px 80px;
    }

    #padding-element{
         padding: 20px 50px 20px 50px;
    }

    .sidebar-left {
        text-align:right;
        width: 20%;
        float: left;
    }

    #sidebar-right {
        text-align: left;
        padding-left : 30px;
        width: 20%;
        float: left;
        padding-top:130px;
    }

    .inner-footer {
     margin: 0 auto;
     width: 640px;
     margin-top: 30px;
     margin-bottom: 30px;
    }
}

/*Wide Layout*/
@media only screen and (min-width: 1200px) {
    .wrap {
        width: 1140px;
        margin: 0 auto;
    }

}

/*Move Sidebar Position*/
@media only screen and (min-width: 1024px) {
    .wrap, #main-content, .sidebar-left, #sidebar-right {
        position: relative;
    }

    #main-content, .sidebar-left, #sidebar-right {
        top: 0;
    }

    #main-padding{
        padding:20px 80px 50px 80px;
    }

    #padding-element{
        padding: 20px 50px 20px 50px;
        }

    #sidebar-right {
        right: 0;
        position: fixed;
    }

    .sidebar-left {
        position: fixed;
    }

    #main-content {
        left: 20%; /*Width of #left-sidebar*/
    }

    .inner-footer {
     margin: 0 auto;
     width: 640px;
     margin-top: 30px;
     margin-bottom: 30px;
    }
}

/*Optional 2 Column Layout*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #sidebar-right {
        width: 50%;
    }
    .sidebar-left {
        width: 50%;
    }
    #main-content {
        position: relative;
        top: 50px;
        left: 0;
    }
}

.container {
 padding-right:15px;
 padding-left:15px;
 margin-right:auto;
 margin-left:auto;
 /*! background-color: yellow; */
}


.btn.btn-default {
    background-color: transparent;
    color: var(--purple);
    border: 2px solid var(--purple);
    font-family: "glacial";
    font-size: 1.8rem;
    /*font-weight: bold;
    text-transform: uppercase;*/
}

.btn:hover {
    border: 2px solid var(--green);
    color: var(--green);
}

.btn.btn-selected,
.btn.btn-selected:hover {
    background-color: var(--purple);
    color: var(--green);
    border: 2px solid var(--purple);
    font-size: 1.8rem;
    font-weight: bold;
    /*text-transform: uppercase;*/
}

.btn-danger:hover {
    background-color: #c9302c;
    color: var(--white);
    border: 1px solid #c9302c;
}

b,
optgroup,
strong {
 font-weight: bold;
  color: var(--dark);
}
