/*Workaround for bug in highlight.js IDEA theme*/
span.hljs-tag, span.hljs-symbol{
  background: none;
}

@font-face {
    font-family: 'gi';
    src: url('../fonts/gi.otf');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family:gi;
    font-size: 15px;
    }

p{
  padding-top:30px;
}

html {
  height: 100%;
  box-sizing: border-box;
}


.question{
    font-weight: bold;
    padding-top: 20px;
    font-size: 17px;
}

a {
 color: #4096c5;
}


.btn-mole{
 color: #333;
 border-color: #a6bf26;
 background-color: #a6bf26;
}

.line {
border-bottom: 1px solid #bbb;
}

h1{
  color: #444;
  font-size: 40px;
  font-weight: 100;
  margin: 0 0 24px;
  padding-top: 30px;
  text-transform: uppercase;
  text-align:center;
}

h2{
font-size:25px;
}

code{
    color: #c83771;
    font-size: small;
    background-color:white;
    font-weight:bold;
}

.scalatex-site-Styles-content{
  text-align: justify;
}