/*Workaround for bug in highlight.js IDEA theme*/
span.hljs-tag, span.hljs-symbol{
  background: none;
}

@font-face {
    font-family: 'gi';
    src: url('../fonts/gi.otf');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family:gi;
    font-size: 15px;
    }

p{
  padding-top:30px;
}

html {
  height: 100%;
  box-sizing: border-box;
}


.question{
    font-weight: bold;
    padding-top: 20px;
    font-size: 17px;
}

a {
 color: #4096c5;
}


.btn-mole{
 color: #333;
 border-color: #a6bf26;
 background-color: #a6bf26;
}

.line {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

h1{
color: #444;
font-size: 32px;
font-weight: 800;
 margin: 0 0 24px;
 text-transform: uppercase;
 padding-top: 100px;
 }