/*Workaround for bug in highlight.js IDEA theme*/
span.hljs-tag, span.hljs-symbol{
  background: none;
}

@font-face {
    font-family: 'gi';
    src: url('../fonts/gi.otf');
    font-weight: normal;
    font-style: normal;
}

p{
  padding-top:30px;
}

html {
  height: 100%;
  box-sizing: border-box;
}


.question{
    font-weight: bold;
    padding-top: 20px;
    font-size: 17px;
}

a {
 color: #4096c5;
}

asitemap{
    color : orange;
    }


.btn-mole{
 color: #333;
 border-color: #a6bf26;
 background-color: #a6bf26;
}

.line {
border-bottom: 1px solid #eee;
}

h2{
  color: #000;
  font-size: 30px;
  font-weight: 100;
  margin: 0 0 24px;
  padding-top: 50px;
  text-transform: uppercase;
}

h3{
  font-size:22px;
}

h1{
font-size: 35px;
font-weight: bold;
color: #444;
text-transform:uppercase;
padding-bottom:20px;
text-align:center;
}

h4{
font-size: 35px;
font-weight: bold;
color: #444;
text-transform:uppercase;
padding-top: 40px;
}

code{
    color: #c83771;
    font-size: small;
    background-color:white;
    font-weight:bold;
}

.scalatex-site-Styles-content{
  text-align: justify;
}

 .center-svg{
   margin-left:auto;
   margin-right:auto;
   display:block;
   width:100%;
  }

/*Workaround for bug in highlight.js IDEA theme*/
span.hljs-tag, span.hljs-symbol{
  background: none;
}

@font-face {
    font-family: 'gi';
    src: url('../fonts/gi.otf');
    font-weight: normal;
    font-style: normal;
}

body{
    color: #555;
    font-family:gi;
    font-size: 15px;
    text-align: justify;
    background-color: #f1f1f1;
    }

p{
  padding-top:30px;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.4s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


.question{
    font-weight: bold;
    padding-top: 20px;
    font-size: 17px;
}



/*Responsive columns*/
#main-content{
    padding-top: 150px;
    min-height: 800px;
}

.page-element {
    background-color: white;
    border-radius:5px;
    padding: 20px 50px 20px 50px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    }

.index-element {
    background-color: white;
    width: 100%;
    border-radius:10px;
    padding:20px 80px 50px 80px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    }

#footer {
background-color : #222;
}

.sidebar-left {
}

#sidebar-right {
}



/*Base Mobile Layout*/
.wrap {
    width: 90%;
    margin: 0 auto;
}

#main-content, .sidebar-left, #sidebar-right, #footer {
    padding:20px;
    width: 100%;
    float: left;
}

/*3 Column Layout*/
@media only screen and (min-width: 1024px) {
    .wrap {
        width: 1024px;
        margin: 0 auto;
    }


    #main-content {
        width: 50%;
        float: left;
    }

    .sidebar-left {
        text-align:right;
        width: 25%;
        float: left;
    }

    #sidebar-right {
        text-align: left;
        padding-eft : 50px;
        width: 25%;
        float: left;
    }

    .inner-footer {
     margin: 0 auto;
     width: 700px;
    }
}

/*Wide Layout*/
@media only screen and (min-width: 1200px) {
    .wrap {
        width: 1140px;
        margin: 0 auto;
    }
}

/*Move Sidebar Position*/
@media only screen and (min-width: 1024px) {
    .wrap, #main-content, .sidebar-left, #sidebar-right {
        position: relative;
    }

    #main-content, .sidebar-left, #sidebar-right {
        top: 0;
    }

    #sidebar-right {
        right: 0;
        position: fixed;
    }

    .sidebar-left {
        position: fixed;
    }

    #main-content {
        left: 25%; /*Width of #left-sidebar*/
    }
}

/*Optional 2 Column Layout*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #sidebar-right {
        width: 50%;
    }
    .sidebar-left {
        width: 50%;
    }
    #main-content {
        position: relative;
        top: 50px;
        left: 0;
    }
}

.container {
 padding-right:15px;
 padding-left:15px;
 margin-right:auto;
 margin-left:auto;
 /*! background-color: yellow; */
}