
@media (min-width: 1200px) {
    .container {
      width:800px;
    }

}

.pull-center {
  text-align: center;
}

.pull-center > .nav {
  float:none;
  display:inline-block;
}

ul {
  margin-top: 0px
}

* {
  font-size: 14px;
  line-height: 1.6em;
}

pre {
  background-color: transparent;
  border: 0px;
}

code {
  background-color: transparent;
}

#logo {
 height: 180px;
 margin-left: -30px;
}

#sections {
  padding-top: 20px;
  padding-bottom: 5px;
}

#section {
  padding-right: 15px;
  font-size: 16px;
}

#documentation-bottom-link-unavailable {
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: line-through;
}

#documentation-bottom-link {
  padding-left: 5px;
  padding-right: 5px;
}

#documentation-bottom-links {
  text-decoration: underline;
  top: 10px;
  left: 40%;
}

#documentation-menu {
  padding-left: 20px;
  padding-right: 0px;
  left: 0px;
  top: 0px;
  margin-right: 20px;
  margin-top: 30px;
  width: 120%;
}

#documentation-menu-ul {
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 15px;
  padding-left: 5px;
}

#documentation-menu-entry {
  color: #6A7224;
  text-decoration: none;
  text-decoration: none;
  cursor:pointer;
  line-height: 1em;
}

#documentation-menu-entry-current {
  color: brown;
  line-height: 1em;
}

#documentation-text {
  margin-top: 0px;
}

#market-entry {
  border: 1px solid rgba(205, 199, 199, 0.17);
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2%;
  height: 200px;
  overflow: auto;
}

#download-button {
  background-color: #6A7224;
  color: white;
  margin-top: 25px;
  font-size: medium;
  border-radius: 10px;
}

.scalatex-content *{
  position: relative;
}
.scalatex-content p{
  text-align: left;
}

.scalatex-content {
  margin: 0px auto;
  padding-bottom: 50px;
  color: #555;
}

.amenu {
  color: #6A7224;
  font-weight: bold;
}

/* Custom Stuff */
.scalatex-content a:link {
  color: #6A7224;
  font-weight: bold;
  text-decoration: none;
}
.scalatex-content a:visited {
  color: #6A7224;
  font-weight: bold;
  text-decoration: none;
}
.scalatex-content a:hover {
  text-decoration: underline;
}
.scalatex-content a:active {
  color: #000;
  text-decoration: underline;
}
.scalatex-content code{
  color: #000;
}
.scalatex-hover-container:hover .scalatex-header-link:hover > i{
  opacity: 1.0;
}
.scalatex-hover-container:hover .scalatex-header-link > i:active{
  opacity: 0.75;
}
.scalatex-hover-container:hover .scalatex-header-link > i{
  opacity: 0.5;
}
.scalatex-header-link > i{
  color: #777;
  opacity: 0.05;
  text-decoration: none;
}
/*Workaround for bug in highlight.js IDEA theme*/
span.hljs-tag, span.hljs-symbol{
  background: none;
}

.uiScreenshot{
  width: 580px;
  padding-top: 10px;
}

.logoISC{
    width: 180px;
    top: 25px;
    left: 70%;
}

.logoGeocite {
    width: 140px;
    top: 35px;
    margin-left: -180px;
    margin-right: 10px;
}


.logoBiomedia {
    width: 240px;
    top: 35px;
    margin-left: 105px;

}
