<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.openmole.runtime.runtime"
         name="runtime"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run class="org.openmole.runtime.runtime.SimExplorer"/>
      </application>
   </extension>

</plugin>
