#content-main {
  margin-left: 0%;
  width: 100%;
}

#logo-main {
  margin-left: 20%;
}

#sections-main {
  padding-top: 20;
  padding-bottom: 5;
  margin-left: 25%;
  width: 100%;
}

#content-documentation {
  margin-left: 0px;
  width: 120%;
}

#logo-documentation {
  margin-left: 300px;
}

#sections-documentation {
  padding-top: 20;
  padding-bottom: 5;
  margin-left: 330px;
  width: 100%;
  font-size: 16px;
}

#section {
  padding-right: 15;
  font-size: 16px;
}

#documentation-bottom-link-unavailable {
  padding-left: 5;
  padding-right: 5;
  text-decoration: line-through;
}

#documentation-bottom-link {
  padding-left: 5;
  padding-right: 5;
}

#documentation-bottom-links {
  text-decoration: underline;
  top: 10;
  left: 40%;
}

#documentation-menu {
  padding-left: 20;
  padding-right: 0;
  left: 0;
  top: 0;
  margin-right: 20;
  margin-top: 40;
  width: 120%;
}

#documentation-menu-ul {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 15;
  padding-left: 5;
}

#documentation-menu-entry {
  color: darkblue;
  text-decoration: none;
  text-decoration: none;
  cursor:pointer;
  line-height: 1em;
}

#documentation-menu-entry-current {
  color: brown;
  line-height: 1em;
}

#top-content-documentation {
  position: absolute;
  margin: 0 0;
  padding: 0 0;
  padding-bottom: 50;
  color: #777;
}

.scalatex-content *{
  position: relative;
}
.scalatex-content p{
  text-align: justify;
}

* {
  font-size: 14px;
  line-height: 1.6em;
}

.scalatex-content {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 800px;
  padding-bottom: 50px;
  color: #777;
}

/* Custom Stuff */
.scalatex-content a:link {
  color: darkblue;
  text-decoration: none;
}
.scalatex-content a:visited {
  color: darkblue;
  text-decoration: none;
}
.scalatex-content a:hover {
  text-decoration: underline;
}
.scalatex-content a:active {
  color: #000;
  text-decoration: underline;
}
.scalatex-content code{
  color: #000;
}
.scalatex-hover-container:hover .scalatex-header-link:hover > i{
  opacity: 1.0;
}
.scalatex-hover-container:hover .scalatex-header-link > i:active{
  opacity: 0.75;
}
.scalatex-hover-container:hover .scalatex-header-link > i{
  opacity: 0.5;
}
.scalatex-header-link > i{
  color: #777;
  opacity: 0.05;
  text-decoration: none;
}
/*Workaround for bug in highlight.js IDEA theme*/
span.hljs-tag, span.hljs-symbol{
  background: none;
}