.visually_hidden {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
  }

.u-block-center {
    margin-left: auto;
    margin-right: auto;
}

.u-tac {
    text-align: center;
}

.u-tar {
    text-align: right;
}

.u-tal {
    text-align: left;
}

.u-p-0 {
    padding: 0;
}